header {
    background-color: gray;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}

.ueberschrift {
    text-align: center;
    font-weight: 100;
}

.info {
    display: flex;
    justify-content: center;
    gap: 10%;
    border-radius: 30%;
    box-shadow: 0 0 10px;
}