@font-face {
    font-family: "BIHead";
    src: url("fonts/BoehringerForwardHead.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BIText";
    src: url("fonts/BoehringerForwardText.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}


header {
    background-color: #08312A;
    color: #00E47C;
    margin-bottom: 1%;
    font-family: "BIText";
}

.ueberschrift {
    text-align: center;
    font-weight: 100;
    font-family: "BIHead";
}

.info {
    display: flex;
    justify-content: center;
    gap: 10%;
    border-radius: 0%;
    box-shadow: 0 0 px;
}

.fortnite {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.BIBild {
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    margin-top: 0.7em;
    margin-left: 0.7em;
}

body {
    font-family: "BIText";
    background-color: #E5E3DE;
    margin: 0;
    color: #333;
  

}

.bildbox {
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

.boehringer {
    padding: 1em;
    background-color: #08312A;
    color:#E5E3DE;
    border-radius: 2em;
    width: 80%;
    margin: auto;
}

.gemacht {
    margin-top: 10em;
    padding: 1em;
    background-color: #08312A;
    color:#E5E3DE;
    border-radius: 2em;
    width: 80%;
    margin: auto;
}

h5{
    font-family: "BIHead";
    font-size: 1.2em;
    margin-bottom: -0.5em;
}

h4{
    font-family: "BIHead";
    font-size: 1.2em;
}

h3{
    font-family: "BIHead";
    font-size: 2em;
    margin-top: -0.05em;
}
li{
    font-size: 1em;
}

.Microscop {
    width: 1.5em;
    color: white;

}