@font-face {
    font-family: "BIHead";
    src: url("fonts/BoehringerForwardHead.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BIText";
    src: url("fonts/BoehringerForwardText.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}


header {
    background-color: #08312A;
    color: #00E47C;
    font-family: "BIText";
}

.ueberschrift {
    text-align: center;
    font-weight: 100;
    font-family: "BIHead";
}

.info {
    display: flex;
    justify-content: center;
    gap: 10%;
    border-radius: 0%;
    box-shadow: 0 0 px;
}

.fortnite {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.BCBild {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8em;
}

.BIBild {
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    margin-top: 0.7em;
    margin-left: 0.7em;
}

body {
    font-family: "BIText";
    background-color: #E5E3DE;
    margin: 0;
    color: #333;
  

}

.bildbox {
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
}
.bildboxUB {
    display: block;
    margin: 0 auto;
    display: flex;
    

}

.BIZeichen {
    width: 3em;
    height: 3em;
    margin-top: 1.3em;
    margin-left: 0.7em;
}


.boehringer {
    padding: 1em;
    background-color: #08312A;
    color:white;
    border-radius: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 8em;
}

.gemacht {
    padding: 1em;
    background-color: #08312A;
    color:#E5E3DE;
    border-radius: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

h5{
    font-family: "BIHead";
    font-size: 1.2em;
    margin-bottom: -0.5em;
    
}

h4{
    font-family: "BIHead";
    font-size: 1.2em;

}

h3{
    font-family: "BIHead";
    font-size: 2em;
    margin: -0.05em;
    color: #00E47C;
    padding-left: 0.5em;
}
li{
    font-size: 1em;
    
    
}

.Microscop {
    width: 1.5em;
    color: white;

}

a {
    color: #00E47C;
    text-decoration: none;
}

a:hover{
    transform: 2em;
}

.wochenliste{
    background-color: #E5E3DE;
    color: #333;
    border-radius: 2em;
    width: 40%;
    
}

.split {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Sorgt dafür, dass beide Boxen gleich hoch sind */
    padding: 2em;
    gap: 20px; /* Kleiner Abstand zwischen den Boxen */
}

.tagesprojekte{
    background-color: #E5E3DE;
    color: #333;
    border-radius: 2em;
    width: 40%;
    justify-content: left;
}

.textwochenliste{
    padding: 1em;
}
.slider-wrapper {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.mySlides {
    display: none; /* Versteckt alle Slides standardmäßig */
    text-align: center;
}

.mySlides img {
    width: 100%;
    border-radius: 2em 2em 0 0; /* Oben abgerundet passend zur Box */
    height: 30em;
    object-fit: cover;
}

.slide-text {
    padding: 1.5em;
    min-height: 100px;
}

/* Navigations-Buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 1em;
    color: #00E47C;
    font-weight: bold;
    font-size: 1.2em;
    user-select: none;
    background-color: rgba(8, 49, 42, 0.5);
    border-radius: 50%;
    text-decoration: none;
}

.next { right: 1em; }
.prev { left: 1em; }

.prev:hover, .next:hover {
    background-color: #08312A;
}

/* Animation für weiche Übergänge */
.fade {
    animation: fadeAnim 0.5s;
}

@keyframes fadeAnim {
    from {opacity: .4} 
    to {opacity: 1}
}

.textwochenliste h3, 
.textwochenliste h4, 
.textwochenliste h5, 
.textwochenliste ul {
    margin-left: 0; 
    margin-top: 1em; 
    margin-bottom: 0.5em;
}

.textwochenliste ul {
    padding-left: 1.2em; /* Damit die Aufzählungspunkte nicht über den Rand ragen */
}

.slide-text a {
    color: black;
    text-decoration: underline; /* Optional: Behält den Unterstrich bei */
}

/* Optional: Farbe ändern, wenn man mit der Maus darüber fährt (Hover) */
.slide-text a:hover {
    color: #333333; /* Ein dunkles Grau beim Drüberfahren */
}